*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
}

/* Header */
.header {
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-color {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
}
.nav-link {
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contacts-link {
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.flex-box {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.navigation {
  display: flex;
  gap: 76px;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.header-list-items {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Hero */
.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 188px;
  margin-bottom: 54px;
}
.contacts {
  font-style: normal;
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  margin-bottom: 188px;
  border-radius: 4px;
  padding: 16px 32px;
}
.button:hover,
.button:focus {
  background: #404bbf;
}
.transfer {
  display: block;
}
.section-flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Our advantages */
.list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Our Team  */
.section-our-team {
  background-color: #f4f4fd;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.card-text {
  text-align: center;
}
.section-list {
  background-color: #fff;
}

/* Our Portfolio */
.align-left {
  text-align: left;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
}
.logo-footer {
  color: #f4f4fd;
}
