*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
  font-style: normal;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

/* Header */
.header {
  color: #2e2f42;
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
}
.logo-color {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
}
.nav-link {
  color: #2e2f42;
  padding: 24px 0 24px;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contacts-link {
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.flex-box {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  flex-wrap: wrap;
  padding: 0 15px;
}
.flex-box.container {
  padding: 24px 0;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  gap: 40px;
}

/* Hero */
.hero-section {
  background-color: #2e2f42;
  max-width: 100%;
  padding: 188px 0;
}
.hero-title {
  display: block;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 54px auto;
  max-width: 496px;
}

.button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
}
.button:hover,
.button:focus {
  background: #404bbf;
}

/* Our advantages */
visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.list-flex {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-item {
  flex-basis: calc((100% - 72px) / 4);
}

/* Our Team  */
.section.our-team {
  background-color: #f4f4fd;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.card-text {
  text-align: center;
}
.card-info {
  padding: 32px 0;
}
.section-list-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-direction: row;
}

/* Our Portfolio */

.list-items {
  width: calc((100% - 48px) / 3);
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.section-list.wrap {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.align-left {
  text-align: left;
}
/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.logo-footer {
  color: #f4f4fd;
}
.magrin {
  margin-bottom: 16px;
}
